.home
{
    background-color:lavender
}
.home h1{
 color:mediumpurple;
}
.types {
    background-color: lavender
}
.types h1 {
    color:hotpink;
}
.effects {
    background-color: lavender
}
.effects h1{
    color:orchid;
}

